.accordion.ui.fluid {
  border: none !important;
  .title {
    border-top: none !important;
    padding-top: 0 !important;
    color: #c0c0c0 !important;
    background-color: transparent !important;
  }
  .active.content {
    background-color: transparent !important;
  }
}
