html.honeywell-dark-theme {
    .popup-content-main { 
        color: #d0d0d0;
        background: #303030 !important;   
    }
    .ui.popup { 
      background: #303030 !important;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
   
}
 

