@import "../../../../assets/stylesheets/colors.scss";
@import "../../../../assets/stylesheets/fonts.scss";

.wi-group {
  .cardtitle {
    h3 {
      color: #cccccc;
    }
    .ui.label.badge.grey {
      background: #EE3124!important;
      padding: 0px 5px 2px 5px !important;
      margin: 0px 0px 2px 3px;
      font-size: 10px !important;
      border-radius: 4px;
    }
  }
}
