@import '../../../../assets/stylesheets/colors.scss';
@import '../../../../assets/stylesheets/fonts.scss';

.active-import-list {
    .progress-items {
        font-size: 9px;
        color: #606060;
    }
    .accordion.ui.fluid {
        .content.active {
            height: 66vh;
            overflow-y: auto;
        }
        .title{
            color: $grayLabledColor;
        }        
        .import-list-status {
            padding-left: 30px;
            small {
                color: $SmokeWhiteColor;
            }
        }        
    }
}