.ui.modal {
  height: auto;
  width: 30%;
  border-radius: 8px !important;
}
.modal-Popup-header header {
  max-height: 10%;
}

.ui.large.modal {
  width: 25%;
}

.messageBoxCancel {
  margin-right: 15vh !important;
  border-radius: 4px !important;
  border: 0px !important;
  margin-left: 0.005vw !important;
}
