.licenseImage{
    position: relative; 
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.licenseText{
   position: absolute; 
   top: 10em; 
   left: 5em; 
   width: auto; 
   height: auto;
}