// @import "../../../../assets/stylesheets/colors.scss";
// @import "../../../../assets/stylesheets/fonts.scss";

// /**
//     styles for Create Batch Modal COntainer 
//  */
// .modal-batch {

//   box-sizing: border-box;
//   height: 100%;
//   width: 90%;
//   position: relative;
//   padding: 3.333vh 1.6667vw;
//   margin: 2% auto;
//   padding: 1.5vh 1.5vw 1.5vh;
//   background: #303030 0% 0% no-repeat padding-box;
//   //background: #262626 0 0 no-repeat padding-box;
//   border-radius: 0.78125vw;
//   overflow: hidden;
//   box-shadow: 0 1.1458vw 2.0833vw #0000001A;
//   font-family: "Honeywell Sans Web";

//     /**
//       Modal Header/Title
//       */
//     .batch-modal-title { 
//       font-size: 1rem;  
//     }

//     /**
//       Batch details section with Border
//      */
//     .batch-metadata {
//       display: inline-table;
//       border: 1px solid #808080;
//       border-radius: 0.5vw;
//       margin: 1vw;

//       .ui.scuf-dropdown-wrapper.disabled .ui.disabled.dropdown {
//         margin: 0 -15px!important;
//       }

//       .batch-select-container-disabled {
//         padding: 1vw 1vw 0vw 1vw!important;
//         width: 13.2vw !important;  
//         height: auto !important;
        
//         /* combobox label styles*/
//         div:nth-child(1) span {
//           font-family: "Honeywell Sans Web";
//           letter-spacing: 0;
//           font-weight: 500 !important;
//           font-size: .875rem !important;
//           line-height: 1.375rem;
//           color: #d0d0d0 !important; 
//         } 
  
//         > div:nth-child(2) {  
//           border-radius: 0.5vw !important;
//           background: #303030 !important;
//           border: 1px solid #808080 !important;  
//           height: 3vw !important;
//           width: 12.2vw !important;
//         }
  
//         .text {
//           color: #a0a0a0 !important;
//         }
//      }
//     } 
 

//     /**
//       Tab Names - Font Color
//      */
//       a {
//       color: #e0e0e0 !important;
//     }      

//     /**
//       Overriding scuff disabled combo box style
//      */
    

//    /**
//       Overriding scuff disabled combo box style
//      */
//      .batch-select {
//       padding: 0.3rem 0.1rem 0.3rem 0.1rem!important;
//       width: 4.1rem !important;  
//       height: auto !important;
//       font-size: .7rem !important;
      
//       /* combobox label styles*/
//       div:nth-child(1) span {
//         font-family: "Honeywell Sans Web";
//         letter-spacing: 0;
//         font-weight: 500 !important;
//         font-size: .75rem !important;
//         line-height: 1.3rem;
//         color: #d0d0d0 !important; 
//       } 

//       > div:nth-child(2) {  
//         border-radius: 0.5vw !important;
//         background: #303030 !important;
//         border: 1px solid #808080 !important;  
//         height: auto !important;
//         width: 3rem !important;
//       }

//       .text {
//         color: #a0a0a0 !important;
//       }

//       .ui.scuf-dropdown-wrapper{       
//         font-size: 0.67rem !important; 
//        }
       
//        .ui.scuf-dropdow-wrapper > .ui.selection.dropdown{
//          border-radius: 3rem !important;
//          border: 0px solid black !important;
//          width: 4.1rem !important; 
//          height: 1.8rem !important;        
        
//        }
//        .ui.selection.dropdown {
//          min-height: 1.8rem !important;
//          padding:  0.2rem 0.2rem .2rem .5rem !important;  
        
//        }
//        .ui.dropdown>.text {
//         font-size: 0.67rem !important; 
//        }
//        .ui.active.visible.selection.dropdown .visible.menu.transition {
//          top : -0.1vw !important;
//          left : -0.5vw; 
//          width: 4.5rem !important;  
//          padding-left: .1rem !important;
//        }
//        .ui.scuf-dropdown-wrapper>.ui.selection.dropdown .menu>.item {
//          line-height: 0.9rem !important;
//          font-size: 0.67rem !important;
//          word-break: break-all;
//        }
//    }

//     /**
//       Layout Adjustment
//     */
//     .last-child { 
//       padding: 0vw 1vw 1vw 0vw !important;
//     }
    
//     /**
//       Overriding scuff disabled input/Textbox styles
//      */
//     .batch-input-metadata, 
//     .batch-input-metadata-disabled  {   
//       padding: 1vw 0vw 0vw 1vw !important; 
//       font-family: "HoneywellSans-Medium";

//       /* Scuff Input box wraped in a div */
//       div {
//         border: 0px solid #808080;
//         border-radius: 0.5vw !important;
//       } 
//       /* target Scuff Input box*/
//       input 
//       { 
//         background: #303030 !important; 
//         border-radius: 0.5vw !important;
//         width: 12.1vw !important;
//       }   

//       span {
//         font-family: "Honeywell Sans Web";
//         letter-spacing: 0;
//         font-weight: 500 !important;
//         font-size: .875rem !important;
//         line-height: 1.375rem;
//         color: #d0d0d0 !important; 
//       }
//     } 
    
//     .batch-input-metadata-disabled  { 
//       > div:nth-child(2){
//         border: 1px solid #808080;
//       }
//     }

//     /* Editable input box*/
//     .batch-input-metadata { 
//       input 
//       { 
//         background: #404040 !important; 
//       } 
//     }
//      /**
//       Overriding scuff combo box style in Unit Params
//      */
//      .batch-select-container {
//       padding: 1vw 1vw 4vw 1vw!important;
//       width: 20vw !important;
//       height: 7vw !important;

//       /* combobox label styles*/
//       div:nth-child(1) span {
//         font-family: "Honeywell Sans Web";
//         letter-spacing: 0;
//         font-weight: 500 !important;
//         font-size: .875rem !important;
//         line-height: 1.375rem;
//         color: #d0d0d0 !important; 
//       }

//       /* combobox/select styles*/
//       > div:nth-child(2){  
//         border-radius: 0.5vw !important;
//         background: #404040 !important;
//         border: 0px solid #808080 !important;  

//         > *:nth-child(3) { 
//             background: #404040 0% 0% no-repeat padding-box !important;
//             border-radius: 4px !important; 
//             border: 0.0625rem solid #404040 !important; 

//             div {
//               font-size: .775rem !important;
//               font-family: "Honeywell Sans Web";
//             } 
//         } 
//       }

//       .ui.active.visible.selection.dropdown .visible.menu.transition { 
//         width: 18.02vw !important;
//       }
//    }

//    /**
//       Formula Paramater List contianer
//      */
//     .batch-params {
//       display: inline-table;
//       padding-left: 6vw;
//       height: 34vw;  

//       .p-datatable-scrollable-header-box,
//       .p-datatable-tbody {
//         border: 0px solid !important;
//       }

//       .ui.menu .item {
//         color: #a0a0a0 !important;
//       }

//       .ui.menu .active.item {
//         color: #f0f0f0 !important;
//       }
//       .unit-selection-list
//       {
//         width: 50vw;
//         min-height: 45vh;
//         max-height: 50vh;
//         overflow-y: scroll;

//         .ui.scuf-dropdown-wrapper>.ui.selection.dropdown{
//           border-radius: 4px !important;
//           border: 1px solid $borderColor !important;  
//           margin-left: 2vw !important;
//           -ms-grid-column: 2;
//           grid-column: 2;
//         }
        

//       }
//       .unit-selection-list > div > div {        
//              height: 1vh !important;     
//              font-family: "Honeywell Sans Web" !important;   
//              font-size: 14px !important; 
//              display: -ms-inline-grid;  
//              display: grid;
//              grid-auto-rows: 33px;
 
//       }
//     } 

//     /**
//       Parameter value input
//      */
//     .batch-input, .batch-input-error {
//       background: #404040;
//       font-family: "Honeywell Sans Web"; 
//       border-radius: 0.752vw !important;

//       /* Scuff Input box wraped in a div */
//       div {
//         border: 0px solid #808080; 
//       } 

//       /* target Scuff Input box*/
//       input 
//       { 
//         background: #404040 !important; 
//         border-radius: 0.65vw !important; 
//         height: 1.2vw !important;
//         width: 4.25vw !important;
//         text-align: right;
//       }    
//     }    
//     .batch-input-error {  
//       border: 2px solid #FF644C !important; 
//     }

//     /**
//       Buttons/Actions bar at the bottom
//       */
//     .batch-actions{ 
//       float: right;
//     }
    
//     .primary-button,
//     .seconday-button { 
//       border-radius: 4px !important;
//       opacity: 1;
//     }   
// } 


// .modal-batch .ui.checkbox.description {
//   margin: 1.333rem 1rem .8333rem 0;
//   min-height: 1rem;
//   height: 1rem;
//   width: 7.834rem;
//   min-width: 2rem; 
// }

// .modal-batch .ui.checkbox.description input:checked ~ label {
//   line-height: 1rem;
//   font-size: 1rem;
// }

// .modal-batch .ui.checkbox.description input ~ label, 
// .modal-batch .ui.checkbox.description input ~ label:hover {
//   width: 11.834rem !important;
//   /* line-height: 1rem; */
//   font-size: 0.75rem !important;
// }

// .modal-batch .ui.checkbox.description .box:before, 
// .modal-batch .ui.checkbox.description label:before {
//   border-radius: 0.5rem !important;
//   background: #A0A0A0 0% 0% no-repeat padding-box !important;
//   border: none !important;
// }

// .modal-batch .ui.toggle.checkbox.description input:focus ~ .label:after, 
// .modal-batch .ui.toggle.checkbox.description input ~ label:after {
//   background-color: #202020 !important;
//   box-shadow: 0.0521vw 0.0521vw .15625vw #00000080;
//   height: .6667rem !important;
//   width: .6667rem !important;
//   left: .1667rem !important;
//   top: 0.1rem !important;
//   margin-top: .1667rem;
// }

// .modal-batch .ui.checkbox input {
//   height: .6667rem !important;
//   width: .6667rem !important;
// }

// .modal-batch .ui.checkbox input:checked ~ label {
//   line-height: 0.667rem;
//   font-size: 0.667rem;
// }

// .modal-batch .ui.toggle.checkbox.checked.description input:checked:focus ~ .label:before, 
// .modal-batch .ui.toggle.checkbox.checked.description input:checked ~ label:before {
//   background: transparent linear-gradient(270deg, #1792E6 0%, #45ADF7 100%) 0% 0% no-repeat padding-box !important;
//   border: none !important;
// }

// .modal-batch .ui.checkbox.description input:checked ~ .box:after, 
// .modal-batch .ui.checkbox.description input:checked ~ label:after {
//   background: #202020 0% 0% no-repeat padding-box;
//   border-radius: 0.5rem !important;
//   left: 1.1667rem !important;
// }

// .modal-batch .ui.checkbox input ~ label,
// .modal-batch .ui.checkbox input ~ label:hover {
//   line-height: 0.6667rem;
//   font-size: 0.6667rem;
// }

// .modal-batch .ui.checkbox label {
//   padding-left: 1rem;
// }

// .modal-batch .params-container {
//   width: 50vw; 
// }

// .modal-batch .card-table {
//   box-shadow: 0 .05208vw .15625vw #0000001F !important;
//   border-radius: 0.78125vw;
//   border: 1px solid $borderColor !important;  
// }

// .card-table .ui.forge-datatable-wrap .p-datatable .p-datatable-thead th {
//   background: #303030 !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr:nth-child(odd) {
//   background-color: #303030 !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr.selected-row:nth-child(odd) {
//   background-color: #303030 !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr:nth-child(odd):hover {
//   background: #303030 0% 0% no-repeat padding-box !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr:nth-child(even) {
//   background-color: #303030 !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr:nth-child(even):hover {
//   background: #303030 0% 0% no-repeat padding-box !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr.selected-row:nth-child(even) {
//   background-color: #303030 !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable.p-datatable-scrollable .p-datatable-scrollable-header-box {
//   background: #303030!important;
//   border-top-right-radius: 0.78125vw;
//   border-top-left-radius: 0.78125vw;
//   //border: .16vh solid #606060!important;
//   border: none !important;
// }
// .card-table .ui.forge-datatable-wrap.h-scrollable .p-datatable-scrollable .p-datatable-scrollable-header {
//   //border: .0625rem solid #606060 !important;
//   border-top-right-radius: 0.78125vw;
//   border-top-left-radius: 0.78125vw;
//   border: none !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable.p-datatable-scrollable .p-datatable-scrollable-body { 
//   //min-height: 41px; 
//   border-top: none;  
//   border-bottom-left-radius: 0.78125vw;
//   border-bottom-right-radius: 0.78125vw;
//   //border: 0.0625rem solid #606060 !important;
//   border: none !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable .p-datatable-thead {
//   background: #262626;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable .p-datatable-thead th .p-column-title {
//   color: #c0c0c0!important;
//   font-size: 0.867rem!important;
//   text-transform: none!important;
//   font-weight: 600!important;
//   font-style: normal!important;
//   font-family: "Honeywell Sans Web" !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr>td { 
//   color: #ffffff !important;
//   font-size: 0.867rem!important;
//   font-weight: 500!important;
//   font-style: normal!important;
//   font-family: "Honeywell Sans Web" !important;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable .p-datatable-thead>tr>th, .card-table .ui.forge-datatable-wrap .p-datatable .p-datatable-tfoot>tr>td {
//   padding-top: 0.542rem;
//   padding-bottom: 0.542rem;
//   border: none;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr {
//   border-top: 0.32vh solid #303030;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr>td .cell-data-wrap {
//   padding-top: 0.396rem;
//   padding-bottom: 0.396rem;
// }

// .card-table .selector .cell-data-wrap {
//   padding-right: 0;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable tbody.p-datatable-tbody>tr>.selector .cell-data-wrap {
//   padding-right: .05208vw;
//   padding-left: 0.958rem;
// }

// .card-table .ui.forge-datatable-wrap .p-datatable .p-datatable-thead th:last-child.p-sortable-column:hover {
//   box-shadow: none;
// }

// // .card-table .ui.forge-datatable-wrap .p-datatable.p-datatable-scrollable .p-datatable-scrollable-body::-webkit-scrollbar {
// //   width: .6rem;
// // }

// // .card-table .ui.forge-datatable-wrap .p-datatable.p-datatable-scrollable .p-datatable-scrollable-body::-webkit-scrollbar-thumb {
// //   background: #707070B3 0% 0% no-repeat padding-box;
// //   border-radius: .25rem;
// // }

// // .card-table .ui.forge-datatable-wrap .p-datatable.p-datatable-scrollable .p-datatable-scrollable-body::-webkit-scrollbar-track {
// //   background: #202020;
// //   border-left: none;
// //   border-bottom-right-radius: .4vw;
// // }


// /*Tool tip styles*/
// .info-tooltip {
//   width: auto !important;  
// }

// // .error{
// //   border: 2px solid #FF644C !important; 
// // }

// .modal-batch .batch-select-container
// {
//   display: grid !important;
//   grid-template-columns: 1fr 1fr !important;  
//   font-family: $bold !important;
//   font-size: 14px !important; 
//   padding: 1vw 1vw 1.5vw!important;
// }
// .ui.scuf-dropdown-wrapper>.ui.selection.dropdown{
//   border-radius: 4px !important;
//   border: 1px solid $borderColor !important;  
//   margin: 0px !important;
// }

// .ui.scuf-dropdown-wrapper.disabled .ui.disabled.dropdown
// {
//   margin: 0px -10px !important;
// }

// .ui.forge-datatable-wrap .p-datatable.p-datatable-scrollable .p-datatable-scrollable-header-box th:first-child {
//   border-radius: 20px !important;
// }

// .unit-selection-list::-webkit-scrollbar,.unit-selection-list::-webkit-scrollbar
// {	
//   width: 0.6rem;
// }
// .unit-selection-list::-webkit-scrollbar-thumb,.unit-selection-list::-webkit-scrollbar-thumb
// {
//   background: #707070B3 0% 0% no-repeat padding-box;
//   border-radius: .25rem;
//   width: 0.6rem;

// }

.batch-select-container-disabled .ui.search.dropdown>.text{
    width: 17ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.create-batch-btn{
    margin-right: 0.9rem;
}
